[Unit]
Description=play-with-sqlite-in-aws example server
After=network.target

# SEE: https://stackoverflow.com/a/46572318/9998350
[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/work/server
TimeoutSec=3

[Install]
WantedBy=multi-user.target
